<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cancelOrderProcessor" class="com.lxl.trade.order.mq.processor.CancelOrderProcessor"/>
    <bean id="orderConsumer" class="com.lxl.trade.common.rocketmq.MQPushConsumer" init-method="init">
        <property name="consumerGroupName" value="order_orderTopic_cancel_group"/>
        <property name="namesrvAddr" value="106.12.112.217:9876"/>
        <property name="topic" value="orderTpoic"/>
        <property name="tags" value="cancel"/>
        <property name="processor" ref="cancelOrderProcessor"/>
    </bean>
</beans>